<?xml version="1.0" encoding="utf-8" ?>
<log4net>

	<!-- ***************Logs****************** -->
	<!-- //////////// Vision System Logs //////////////-->
	<!-- Main Log used for general logs and fatal errors-->
	<root>
		<level value="ALL" />
		<!-- Appender Filters to only Error and Fatal-->
		<appender-ref ref="FileAppenderGeneralLogs" />
	</root>
	<!-- External Controller-->
	<logger name="ExternalControllerLogger">
		<level value="INFO" />
		<!-- Appender Filters to only Error and Fatal-->
		<appender-ref ref="FileAppenderGeneralLogs" />
		<appender-ref ref="FileAppenderExternalControllerPipeCommands" />
		<appender-ref ref="NotifyAppenderGUI" />
	</logger>

	<!-- Jobs-->
	<logger name="VisionSystemLogger">
		<level value="DEBUG" />
		<!-- Appender Filters to only Error and Fatal-->
		<appender-ref ref="NotifyAppenderGUI" />
	</logger>
	
	<!-- //////////// Library Logs //////////////-->
	<!-- Comms Library-->
	<logger name="CommsLibraryLogger">
		<level value="ERROR" />
		<!-- Appender Filters to only Error and Fatal-->
		<appender-ref ref="FileAppenderGeneralLogs" />
		<!-- Display in the GUI -->
		<appender-ref ref="NotifyAppenderGUI" />
	</logger>
	<!-- Devices Library-->
	<logger name="DevicesLibraryLogger">
		<level value="ERROR" />
		<!-- Appender Filters to only Error and Fatal-->
		<appender-ref ref="FileAppenderGeneralLogs" />
		<!-- Display in the GUI -->
		<appender-ref ref="NotifyAppenderGUI" />
	</logger>
	<!-- Jobs Library-->
	<logger name="JobsLibraryLogger">
		<level value="ERROR" />
		<!-- Appender Filters to only Error and Fatal-->
		<appender-ref ref="FileAppenderGeneralLogs" />
		<!-- Display in the GUI -->
		<appender-ref ref="NotifyAppenderGUI" />
	</logger>
	<!-- Message Bus Library-->
	<logger name="MessageBusLibraryLogger">
		<level value="ERROR" />
		<!-- Appender Filters to only Error and Fatal-->
		<appender-ref ref="FileAppenderGeneralLogs" />
		<!-- Display in the GUI -->
		<appender-ref ref="NotifyAppenderGUI" />
	</logger>
	<!-- Vista Controls Library-->
	<logger name="VistaControlsLibraryLogger">
		<level value="ERROR" />
		<!-- Appender Filters to only Error and Fatal-->
		<appender-ref ref="FileAppenderGeneralLogs" />
		<!-- Display in the GUI -->
		<appender-ref ref="NotifyAppenderGUI" />
	</logger>
	
	
	<!-- *************** Appender ****************** -->
	<!-- [FileAppender] General logs -->
	<appender name="FileAppenderGeneralLogs" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/General/Logs.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<LevelMin value ="ERROR" />
			<LevelMax value ="FATAL"/>
		</filter>
	</appender>
	<!-- External Controller Logs-->
	<appender name="FileAppenderExternalControllerPipeCommands" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/ExternalController/PipeCommands.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level Output: %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<LevelMin value ="DEBUG" />
			<LevelMax value ="FATAL"/>
		</filter>
	</appender>
	<!-- [NotifyAppender] Display In GUI -->
	<appender name="NotifyAppenderGUI" type="VistaHelpers.Log4Net.NotifyAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<LevelMin value ="DEBUG" />
			<LevelMax value ="FATAL"/>
		</filter>
	</appender>
</log4net>